body {
  background-image: url(/backgroundImage.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

#root {
  
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.code-block {
  font-family: 'Courier New', monospace;
  white-space: pre-wrap;
  overflow: hidden;
  padding: 10px;
  margin: 20px;
  background-color: #1d1d1d;
  border-radius: 10px;
}